:root{
    --background-layer-high: rgb(253, 253, 253);
    --background-layer-low: rgb(242, 242, 242);
    --accent-dark: rgb(104, 35, 117);
    --accent-light: rgb(193, 105, 211);
    --gray: rgb(154, 148, 155);
    --light-gray: rgba(208, 205, 209, 0.65);
}
body{
    background-color: var(--background-layer-high);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
legend{
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 10pt;
}
input[type=number], input[type=text]{
    border-radius: 5px;
    border: 0.1px solid var(--accent-light);
    border-bottom: 3px solid var(--accent-dark);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 12pt;
    text-align: center;
}
input[type=range]{
    appearance: none;
    background-color: var(--accent-light);
    border-radius: 15px;
    opacity: 0.7;
}
input[type=range]:hover{
    opacity: 1;
}
input[type=range]::-webkit-slider-thumb{
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: var(--accent-dark);
}
h1{
    margin: auto;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 18pt;
}
h2{
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 22pt;
}
label, p{
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 12pt;
}
input{
    margin-bottom: 15px;
}
button, select{
    border: 0px;
    border-radius: 3px;
    background-color: var(--accent-dark);
    color: white;
    font-family: "Comfortaa", sans-serif;
    padding: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    transition: all 0.3s;
}
button:hover, select:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
}
p{
    color: var(--gray);
    font-size: 11pt;
}



#TittleBar{
    height: 50px;
    background-color:var(--accent-dark);
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
}
#WindowContent{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
#CanvasBox{
    display: flex;
    margin: 0px;
    width: 100%;
    flex: 1 1 auto;
    box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.35);
    background-color: var(--background-layer-low);
    overflow-y: scroll;
    overflow-x: scroll;
}
#SideBar{
    background-color:var(--background-layer-high);
    width: 400px;
    flex: 0 0 auto;
}
#CanvasContainer{
    margin: auto;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.45);
    cursor: crosshair;
}
#Canvas{
    z-index: 0;
    position: absolute;
}
#PreviewCanvas{
    z-index: 1;
    position: absolute;
    pointer-events: none;
}



#ToolsBox{
    margin: 15px;
    height: 240px;
    padding: 15px;
    display: flex;
}
#ToolSelectionBox{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-right: 5%;
}
#ToolPreferencesBox{
    width: 85%;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.3s all;
}
.ToolButton{
    margin-bottom: 2px;
    width: 100%;
    height: 35px;
    transition: 0.4s all;
    border-radius: 5px;
    border-left: solid 0px var(--accent-dark);
}
.ToolButton:hover{
    box-shadow: 0px 0px 10px 1px rgba(104,35,117,0.45); 
    /*border-left: solid 5px var(--accent-dark);*/
    transform: scale(1.1);
}
#ToolPreferencesFieldset{
    max-height: 100%;

    overflow-y: none;
    border-radius: 8px;
    border: dashed var(--gray);
    padding: 15px;
    text-align: center;
}
#PBrStrokeValue, #EraStrokeValue, #SToStrokeValue{
    width: 35px;
}
#InputFillColor{
    margin-right: 5px;
}



#ColorsBox{
    display: flex;
    padding: 15px;
    margin: 15px;
    border-top: solid 2px var(--light-gray);
    height: 150px;
}
#SelectedColorBox{
    height: 100%;
    width: 25%;
    border: dashed 3px black;
    border-radius: 7px;
    text-align: center;
    margin-right: 5px;
}
#SelectedColor{
    margin: 7px;
    width: 55px;
    height: 55px;
    border: none;
    padding: 0px;
}
#ColorLibraryBox{
    height: 100%;
    width: 75%;
}
.SavedColorBox{
    border-radius: 5px;
    width: 30px;
    height: 30px;
    /* border: solid 1.7px var(--light-gray); */
    box-shadow: 0px 0px 8px 1px rgba(104,35,117,0.35);
    transition: all 0.3s;
}
.SavedColorBox:hover{
    box-shadow: 0px 0px 10px 1px rgba(104,35,117,0.95);
    transform: scale(1.1);
}
#ColorLibraryTable{
    border-spacing: 5px;
}



#FileInteractionBox{
    margin: 15px;
    margin-top: 85px;
}
#FileInteractionFieldset{
    border-radius: 8px;
    border: dashed var(--accent-light);
    padding: 15px;
    text-align: center;
}
#FileActionsLegend{
    color: var(--accent-dark);
}
.FileButton{
    margin-bottom: 2px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: var(--background-layer-high);
    transition: 0.4s all;
    border-bottom: solid 0px var(--accent-dark);
    box-shadow: 0px 0px 0px 0px;
}
.FileButton:hover{
    border: 1px solid var(--accent-dark);
    border-bottom: solid 3px var(--accent-dark);
    box-shadow: 0px 0px 0px ;
    transform: scale(1.1);
}



#BackgroundDim{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.65);
    /* display: flex; */
}
#FileCreationPopup{
    display: none;
}
.PopupWindow{
    padding: 20px;
    border-radius: 15px;
    background-color: var(--background-layer-high);
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 55px 15px rgba(0,0,0,0.55);
}
.InputBox{
    margin-bottom: 12px;
}
.PopupContentGroup{
    margin: auto;
}
.PopupOptions{
    display: flex;
}
.FinishPopupButton{
    font-size: 16pt;
}
.CancelButton{
    margin-top: 5px;
    background-color: var(--gray);
    font-size: 10pt;
}
#CursorLocationInput{
    margin: 15px;
    margin-left: 95px;
    margin-right: 95px;
}


#ActionBox{
    text-align: center;
    padding: 15px;
    margin: 12px;
    margin-top: 35px;
    border-top: solid 2px var(--light-gray);
    height: 40px;
}
.ActionButton{
    width: 45px;
    height: 45px;
    transition: 0.4s all;
    border-radius: 5px;
    background-color: var(--background-layer-high);
    box-shadow: 0px 0px 0px 0px;
}
.ActionButton:hover{
    box-shadow: 0px 0px 7px 1px rgba(104,35,117,0.45); 
    transform: scale(1.07);
}